body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  /* background-color: #f9f6ec; */
}

header {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 2px -2px gray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* max-width: 1400px; */
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #15382e;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #bbd1b5;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  background: url('../assets/images/header.png') no-repeat center center/cover;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #15382e;
}

.calculators {
  padding: 0 20rem;
}

.calculator-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.calculator-item div {
  display: flex;
  flex-direction: column;
}

.calculator-item img {
  max-width: 200px;
  margin-left: 20px;
}

.calculator-item button {
  background-color: #bbd1b5;
  max-width: 100px;
  border-radius: 10px;
  color: #15382e;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.calculator-item button:hover {
  background-color: #ff6347;
}
