body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
  /* background-color: #fff; */
  background-color: #f9f6ec;
}

header {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 2px -2px gray;
}

footer {
  color: #888;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* max-width: 1400px; */
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #15382e;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #bbd1b5;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  background: url('/assets/images/header.png') no-repeat center center/cover;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #15382e;
}

.container {
  padding: 0 20rem;
}

.calculator-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.calculator-item div {
  display: flex;
  flex-direction: column;
}

.calculator-item img {
  max-width: 200px;
  margin-left: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c7d47;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  margin-left: 0;
  margin-right: auto;
}

.button-container {
  display: flex; /* Flexbox för att hantera justeringen */
  justify-content: flex-end; /* Justerar innehållet till höger */
}

.button:hover {
  background-color: #bbd1b5;
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

/**********************************************************/
/* body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
} */

.content {
  /* max-width: 600px; */
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* h1,
h2,
h3 {
  text-align: center;
  color: #333;
} */

.description,
.additional-info {
  margin: 20px 0;
}

.additional-info {
  background-color: #f9f6ec;
  padding: 15px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6c7d47;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #bbd1b5;
}

button[type='reset'] {
  background-color: #f9f6ec;
  color: #333;
}

.results {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

td {
  font-weight: bold;
}

.sources {
  font-size: 0.8em;
  color: #888;
  margin: 20px;
}

/************************* Dropdown menu *****************************/

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

/************************* ERROR *****************************/

.error-message {
  color: red; /* Ändra färgen till röd för att göra det tydligt */
  font-weight: bold; /* Gör texten fetstil för att framhäva den */
  font-size: 1.1em; /* Gör texten lite större */
  margin-top: 10px; /* Lägg till lite mellanrum ovanför meddelandet */
  padding: 5px; /* Lägg till lite padding för att skapa luft runt texten */
  border-radius: 4px; /* Rundar hörnen på meddelandet */
}
